.agentDashboard .pe-7s-cash {
	color: var(--primary-color) !important;
}

.agentDashboard .pe-7s-home {
	color: var(--secondary-color) !important;
}

.agentDashboard .stats button,
.agentDashboard .stats button:hover {
	background-color: transparent;
	border-color: none;
	color: var(--primary-color);
	text-align: left;
}
