.teamDashboard .pe-7s-cash {
	color: var(--primary-color) !important;
}

.teamDashboard .pe-7s-home {
	color: var(--secondary-color) !important;
}

.teamDashboard .pe-7s-users {
	color: #fb404b !important;
}

.teamDashboard .stats button,
.teamDashboard .stats button:hover {
	background-color: transparent;
	border-color: none;
	color: var(--primary-color);
	text-align: left;
}
