.fa-whatsapp:before {
	font-size: 35px;
}

button:hover {
	background-color: #25d366 !important;
}

@media only screen and (max-width: 767px) {
	.fa-whatsapp.scroll:before {
		opacity: 0;
		-webkit-transition: opacity 0.25s;
		transition: opacity 0.25s;
	}

	.fa-whatsapp.noscroll:before {
		opacity: 1;
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}

	button.scroll {
		width: 28px;
		height: 28px;
		opacity: 0.5;
		-webkit-transition: width 0.5s, height 0.5s, min-height 0.5s;
		transition: width 0.5s, height 0.5s, min-height 0.5s, opacity 0.5s;
	}
	button.noscroll {
		width: 56px;
		height: 56px;
		opacity: 1;
		-webkit-transition: width 0.5s, height 0.5s;
		transition: width 0.5s, height 0.5s, opacity 0.5s;
	}
}
