.welcomeWithdraw h2 {
	color: var(--secondary-color);
}

.welcomeWithdraw p {
	margin-top: 0px;
}

.welcomeWithdraw p.greeting {
	margin-top: 0px;
}

.welcomeWithdraw h1.howMuch {
	color: var(--secondary-color);
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.welcomeWithdraw .row {
	margin-bottom: 0px;
}

.welcomeWithdraw .row .col {
	padding: 0;
}

.welcomeWithdraw .row .col.s7 {
	padding-right: 30px;
}

.welcomeWithdraw .row .col.s5 {
	padding-left: 20px;
}

.welcomeWithdraw .fundsLeft {
	margin-bottom: 11px;
	font-size: 12px;
}

.welcomeWithdraw .btn {
	margin-left: auto;
	display: block;
	height: 46px;
	width: 100%;
	background-color: var(--primary-color);
	box-shadow: none;
	-webkit-box-shadow: none;
}

.welcomeWithdraw .notes {
	float: left;
	margin: 10px 0px 0px 0px;
	color: #9e9e9e;
	font-size: 12px;
}

@media only screen and (max-width: 768px) {
	.welcomeWithdraw .row .col.s7 {
		width: 100%;
		padding-right: 15px;
	}

	.welcomeWithdraw .row .col.s5 {
		width: 100%;
		padding-left: 0px;
	}

	.welcomeWithdraw .greeting {
		font-size: 12px;
	}

	.welcomeWithdraw p.howMuch {
		font-size: 16px;
	}

	.welcomeWithdraw .fundsLeft {
		display: none;
	}
}
