:root {
	--primary-color: #2ecc71;
	--secondary-color: #137396;
	--text-color: black;
	--grey-text-color: #9e9e9e;
	--error-color: #d50000;
}

/*
2ECC71 - GREEN
137396 - BLUE
4D4D4D - DARK GREY
ABB7B7 - LIGHT GREY
EEEEEE - VERY LIGHT GREY
*/

body {
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	color: var(--text-color);
}

h2 {
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-size: 22px;
}

h1 {
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
}

span,
p,
a,
li > div {
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
}

@font-face {
	font-family: "Gilroy";
	src: url("fonts/Radomir Tinkov - Gilroy-Regular.otf") format("truetype");
}

@font-face {
	font-family: "Gilroy Medium";
	src: url("fonts/Radomir Tinkov - Gilroy-Medium.otf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-ExtraBold.otf") format("truetype");
}

@font-face {
	font-family: "Muli";
	src: url("fonts/Muli.ttf") format("truetype");
}

@font-face {
	font-family: "ProximaNova";
	src: url("fonts/ProximaNova-Regular.woff") format("truetype");
}

.container {
	width: 1170px;
}

@media only screen and (max-width: 1200px) {
	.container {
		width: 970px;
	}
}

@media only screen and (max-width: 992px) {
	.container {
		width: 750px;
	}
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
}

/*
2ECC71 - GREEN
137396 - BLUE
4D4D4D - DARK GREY
ABB7B7 - LIGHT GREY
EEEEEE - VERY LIGHT GREY
*/
