.loginContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.loginContainer:before,
.loginContainer:after {
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	content: "";
	display: block;
	height: 24px;
	min-height: 30px;
}

.loginPanel {
	padding: 40px 40px 30px 40px;
	min-height: 500px;
	border: solid 1px #ccc;
	border-radius: 5px;
	width: 450px;
	margin: auto;
}

.mainLogo {
	margin: 0;
	width: 120px;
	margin: auto;
	display: block;
}

.heading {
	text-align: center;
}

.heading h2 {
	margin-top: 16px;
	margin-bottom: 8px;
}

.heading p {
	margin: 0;
}

.loginInputs {
	margin-top: 8px;
}

.email,
.password {
	width: 100%;
	margin-top: 24px;
}

.email .textFieldRoot.textFieldFocused + div fieldset,
.password .textFieldRoot.textFieldFocused + div fieldset {
	border-color: var(--secondary-color);
}

.email .textFieldRoot.textFieldFocused label,
.password .textFieldRoot.textFieldFocused label {
	color: var(--secondary-color);
}

.email .error + div fieldset,
.password .error + div fieldset {
	border-color: var(--error-color) !important;
}

.email .error,
.password .error {
	color: var(--error-color) !important;
}

.loginInputs .textFieldRoot.textFieldFocused fieldset {
	border-width: 1px;
}

.lostPassword {
	text-align: left;
	width: 100%;
	margin-top: 20px;
}

.lostPassword a {
	color: var(--primary-color);
}

.loginButton {
	margin-top: 40px;
	width: 100%;
	text-align: right;
}

.loginButton a,
.loginButton a:hover {
	color: white;
	background-color: var(--primary-color);
}

p.errorMsg {
	font-size: 12px;
	text-align: left;
	color: var(--error-color);
}

@media only screen and (max-width: 600px) {
	.loginContainer:before,
	.loginContainer:after {
		display: none;
	}

	.loginPanel {
		border: none;
		margin: none;
		width: 100%;
	}
}

@media only screen and (max-width: 420px) {
	.loginPanel {
		padding: 24px 24px 30px 24px;
	}
}
