.loginWrapper nav {
	display: none;
}

.heading .successMessage {
	margin-top: 60px;
}

.backButton {
	margin-top: 60px;
	text-align: right;
}

.lostPasswordContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.lostPasswordContainer:before,
.lostPasswordContainer:after {
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	content: "";
	display: block;
	height: 24px;
	min-height: 30px;
}

.lostPasswordPanel {
	padding: 40px 40px 30px 40px;
	min-height: 500px;
	border: solid 1px #ccc;
	border-radius: 5px;
	width: 450px;
	margin: auto;
}

.mainLogo {
	margin: 0;
	width: 120px;
	margin: auto;
	display: block;
}

.heading {
	text-align: center;
}

.heading h2 {
	margin-top: 16px;
	margin-bottom: 8px;
}

.heading p {
	margin: 0;
}

.lostPasswordInputs {
	margin-top: 8px;
}

.email {
	width: 100%;
	margin-top: 24px;
}

.email .textFieldRoot.textFieldFocused fieldset {
	border-color: var(--secondary-color);
}

.email .textFieldRoot.textFieldFocused {
	color: var(--secondary-color);
}

.lostPasswordInputs .textFieldRoot.textFieldFocused fieldset {
	border-width: 1px;
}

.lostPasswordButton {
	margin-top: 40px;
	width: 100%;
	text-align: right;
}

.lostPasswordButton a,
.lostPasswordButton a:hover,
.backButton a,
.backButton a:hover {
	color: white;
	background-color: var(--primary-color);
}

@media screen and (max-width: 600px) {
	.lostPasswordContainer:before,
	.lostPasswordContainer:after {
		display: none;
	}

	.lostPasswordPanel {
		border: none;
		margin: none;
		width: 100%;
	}
}

@media only screen and (max-width: 420px) {
	.lostPasswordPanel {
		padding: 24px 24px 30px 24px;
	}
}
