.register-agent .wizard-step h5 {
	margin-top: 30px;
}

.register-agent .progtrckr > li {
	border-bottom: 1px solid var(--grey-fade-color);
}

.register-agent .progtrckr > li.progtrckr-doing,
.register-agent .progtrckr > li.progtrckr-done {
	border-bottom: 1px solid var(--primary-color);
}

.register-agent .progtrckr > li {
	border-bottom: 1px solid var(--grey-fade-color);
}

.register-agent .multi-step .progtrckr > li > span {
	border-bottom: none;
	background-color: transparent;
}

.register-agent .multi-step .progtrckr > li > span:after {
	content: "\f0da";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	color: transparent;
}

.register-agent .multi-step .progtrckr > .progtrckr-todo > span {
	color: var(--grey-fade-color);
	transition: color 1s;
	-webkit-transition: color 1s;
}

.register-agent .multi-step .progtrckr > .progtrckr-doing > span {
	color: var(--primary-color);
	transition: color 1s;
	-webkit-transition: color 1s;
}

.register-agent .multi-step .progtrckr > .progtrckr-doing > span:after {
	color: var(--primary-color) !important;
}

.register-agent .multi-step .progtrckr > .progtrckr-done > span {
	color: var(--grey-fade-color);
	transition: color 1s;
	-webkit-transition: color 1s;
}

.register-agent .multi-step .progtrckr > .progtrckr-done > span:after {
	content: "\f058";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	color: var(--grey-fade-color);
}

.register-agent button#next-button {
	background-color: var(--primary-color);
	border: var(--primary-color);
}

.register-agent .wizard-finish-button button,
.register-agent .wizard-finish-button button:hover,
.register-agent .wizard-finish-button button:focus,
.register-agent button#back-button,
.register-agent button#back-button:hover,
.register-agent button#back-button:focus {
	background-color: var(--primary-color);
	border: var(--primary-color);
}

.register-agent button#prev-button,
.register-agent button#prev-button:hover {
	background-color: transparent;
	border: none;
	color: var(--primary-color);
}

.register-agent .form-control[disabled] {
	color: var(--grey-text-color);
}

.register-agent .step-1 + .footer-buttons {
	display: flex;
	justify-content: flex-end;
}

.register-agent .step-2 + .footer-buttons {
	display: flex;
	justify-content: space-between;
}

.register-agent .footer-buttons button#prev-button {
	text-align: left;
}

.register-agent .check-icon {
	color: var(--primary-color);
	font-size: 60px;
	margin: 40px;
}

.register-agent .successMessage {
	padding: 0;
	margin-top: 0px;
	margin-bottom: 100px;
}

.register-agent .successMessage h2 {
	margin: 0;
}
.register-agent .successMessage p {
	font-size: 30px;
}

.register-agent .step-3.success + .footer-buttons {
	display: none;
}

.register-agent .step-3.success #back-button {
	margin: auto;
	display: block;
}

.register-agent .Select-control {
	height: 40px;
	border-radius: 4px;
	border-color: #e3e3e3;
	cursor: pointer;
}

.register-agent .Select-placeholder,
.register-agent .Select--single > .Select-control .Select-value {
	line-height: 40px;
}

.register-agent .Select.error .Select-control {
	border-color: #fb404b;
}

.register-agent .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
	color: var(--grey-text-color);
}

@media only screen and (max-width: 767px) {
	.register-agent .multi-step .wizard-finish-button > button {
		float: right !important;
		margin-top: 54px;
		margin-right: 0px;
	}

	.register-agent .multi-step .progtrckr {
		font-size: 9px;
	}

	.register-agent .form-control,
	.register-agent .Select-control {
		font-size: 16px !important;
	}
}
