.registerTeam .progtrckr {
	display: none;
}

.registerTeam .multi-step .wizard-step {
	padding-top: 0px;
}

.registerTeam button.next {
	margin-top: 20px;
}

.registerTeam .card-wizard .content {
	padding-bottom: 25px;
}

.registerTeam .check-icon {
	color: var(--primary-color);
	font-size: 60px;
	margin: 40px;
}

.registerTeam button.next,
.registerTeam button.back,
.registerTeam button.next:hover,
.registerTeam button.back:hover {
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color) !important;
}

.registerTeam .Select-control {
	border: 1px solid #e6e6e6;
	height: 40px;
	cursor: pointer;
}

.registerTeam .Select-control .Select-placeholder {
	height: 40px;
	color: #ccc;
}
.registerTeam .Select-control .Select-placeholder,
.registerTeam .Select-control .Select-value {
	line-height: 40px;
}

.registerTeam .Select.error .Select-control {
	border-color: #fb404b;
}

@media only screen and (max-width: 991px) {
	.registerTeam .check-icon {
		margin: 60px;
	}
}

@media only screen and (max-width: 767px) {
	.registerTeam .form-control,
	.registerTeam .Select-control {
		font-size: 16px !important;
	}
}
