.welcomeCard .text-warning,
.text-warning:hover {
	color: var(--secondary-color) !important;
}

.welcomeCard .heading {
	text-align: left;
}

.welcomeCard .footer .apply {
	color: var(--primary-color);
}
