body {
	background-color: white;
}

.loginWrapper input {
	border-bottom: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	margin-bottom: 0px !important;
	padding: 18.5px 14px !important;
	height: 1.1875em !important;
}
