body {
	background-color: #f6f6f6;
}

.widgetsContainer {
	display: flex;
	margin-top: 25px;
}

.widgetsMain {
	padding: 0px 15px;
	width: 73%;
}

.widgetsSide {
	padding: 0px 15px;
	width: 27%;
}

.widgetsExt {
	display: none;
	padding: 0px 15px;
}

@media only screen and (max-width: 1200px) {
	.widgetsMain {
		width: 66.67%;
	}

	.widgetsSide {
		width: 33.33%;
	}
}

@media only screen and (max-width: 992px) {
	.widgetsContainer {
		display: block;
	}

	.widgetsMain {
		width: 100%;
	}

	.widgetsMain > div:nth-child(2) {
		display: none;
	}

	.widgetsSide {
		width: 100%;
	}

	.widgetsSide > div:nth-child(2) {
		display: none;
	}

	.widgetsExt {
		display: block;
	}
}

@media only screen and (max-width: 768px) {
	.widgetsContainer {
		margin-top: 0px;
	}

	.widgetsMain {
		padding: 0;
	}

	.widgetsSide {
		padding: 0;
	}

	.widgetsExt {
		padding: 0;
	}
}
