.modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.65);
}

.modal-content-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.modal-content-div:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}

.modal-dialog-div {
    position: relative;
    outline: 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: auto;
    cursor: default;
    border-radius: 4px;
}

.sweet-alert .btn-info {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.sweet-alert .btn-danger {
    color: var(--error-color);
    border-color: var(--error-color);
}

.sweet-alert {
    top: 35% !important;
}

@media only screen and (max-width: 373px) {
    .sweet-alert .btn-danger {
        margin-bottom: 20px;
    }
}
