:root {
	--primary-color: #2ecc71;
	--secondary-color: #1a73e8;
	--text-color: black;
	--grey-text-color: #9e9e9e;
	--grey-fade-color: #e3e3e3;
	--error-color: #d50000;
}

a {
	color: var(--secondary-color);
}

.has-error .form-control,
.form-control.error,
.has-error .form-control:focus {
	color: #565656 !important;
}
