.schedulePanel {
	padding: 25px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
}

.schedulePanel h1 {
	color: var(--secondary-color);
	margin: 0px;
}

@media only screen and (max-width: 768px) {
	.schedulePanel {
		padding: 20px 15px 0px 15px;
		border: none;
		margin: 0px;
	}
}
