.withdrawPanel {
	padding: 25px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
}

.withdrawPanel h1 {
	color: var(--secondary-color);
	margin: 0px;
	padding: 0px;
}

.withdrawPanel .row:first-child .col.s5 a.accountDetailsLink {
	color: var(--secondary-color);
	float: right;
	display: none;
}

.withdrawPanel .row:first-child .col {
	padding: 0px;
}

.withdrawPanel .row:nth-child(2) .col:nth-child(1) {
	padding: 0;
	padding-right: 10px;
}

.withdrawPanel .selectPlan {
	display: flex;
}

.withdrawPanel p {
	margin-left: 15px;
	margin-right: 15px;
}

.withdrawPanel .selectAmount p {
	margin: 0px;
}

.withdrawPanel [type="radio"]:checked + span:after,
.withdrawPanel [type="radio"].with-gap:checked + span:before,
.withdrawPanel [type="radio"].with-gap:checked + span:after {
	border: 2px solid var(--secondary-color);
}

.withdrawPanel [type="radio"]:checked + span:after,
.withdrawPanel [type="radio"].with-gap:checked + span:after {
	background-color: var(--secondary-color);
}

@media only screen and (max-width: 1200px) {
	.withdrawPanel .row:nth-child(2) .col {
		width: 100%;
	}

	.withdrawPanel .row:nth-child(2) .col.selectPlan {
		padding: 0;
		margin-left: -2px;
	}

	.withdrawPanel .row:nth-child(2) .col.selectPlan p {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 768px) {
	.withdrawPanel {
		padding: 20px 15px 0px 15px;
		border: none;
		margin: 0px;
	}

	.withdrawPanel .col.s5 a.accountDetailsLink {
		display: block;
	}
}
