.scheduleWithdraw .tabs {
	margin-bottom: 25px;
}

.scheduleWithdraw .tabs .indicator {
	background-color: var(--secondary-color);
}

.scheduleWithdraw .tabs .tab a:hover,
.scheduleWithdraw .tabs .tab a.active {
	color: var(--secondary-color);
}

.scheduleWithdraw .tabs .tab a:focus,
.scheduleWithdraw .tabs .tab a:focus.active {
	background-color: rgba(19, 115, 150, 0.2);
}

.scheduleWithdraw .tabs .tab a {
	color: rgba(19, 115, 150, 0.7);
}

.scheduleWithdraw .row.toggle,
.scheduleWithdraw .row.toggle > .col {
	padding: 0px;
}

.scheduleWithdraw .tabs .tab {
	border: 1px solid #eeeeee;
}

.scheduleWithdraw .tabs .tab:first-child {
	border-right: none;
}
