.questions {
	color: var(--secondary-color);
}

.questions .collapsible {
	box-shadow: none;
	--webkit-box-shadow: none;
	border: none;
}

.questions .collapsible-header {
	font-size: 12px;
	border: none;
	padding: 0px 0px 10px 0px;
}

.questions .collapsible-body {
	border: none;
	padding: 0px 0px 10px 0px;
}

.questions .collapsible-body span {
	font-size: 12px;
	color: var(--text-color);
}
