.addOnField input.addOnInput {
	border: 1px solid #ccc;
	border-radius: 2px;
	padding-left: 12px;
	font-family: Gilroy;
	position: relative;
	left: -1px;
}

.addOnField input.addOnInput:focus:not(.invalid) {
	border: 1px solid var(--secondary-color) !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.addOnField {
	display: table;
	border-collapse: separate;
	width: 100%;
}

.addOnField:focus-within .fa {
	border: 1px solid var(--secondary-color);
	background-color: var(--secondary-color);
}

.addOn {
	display: table-cell;
	width: 41px;
	height: 50px;
	vertical-align: top;
}

.fa {
	border: 1px solid #ccc;
	border-right: 0px;
	color: #fff;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 9px 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.35;
	text-align: center;
	background-color: #ccc;
	border-radius: 2px 0 0 2px;
	width: 41px;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: border 0.3s, -webkit-box-shadow 0.3s;
	-o-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

.fa-idr:before {
	font-family: Gilroy;
	content: "Rp";
	color: #fff;
}

.input-field .helper-text {
	position: absolute;
	width: calc(100% - 29px);
	text-align: right;
	padding-left: 140px;
	font-size: 10px;
}

.input-field .helper-text::after {
	position: relative;
}

.addOnField.invalid .addOnInput.invalid {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: 1px solid var(--error-color);
}

.addOnField.invalid .addOn .fa {
	background-color: var(--error-color);
	border: 1px solid var(--error-color);
}

@media only screen and (max-width: 1199px) {
	.fa {
		line-height: 1.3;
	}
}

@media only screen and (max-width: 991px) {
	.fa {
		line-height: 1.2;
	}
}
