header {
	width: 100%;
	background-color: #4d4d4d;
}

nav {
	height: 79px;
	background-color: #4d4d4d;
}

.nav-wrapper {
	background-color: transparent;
	max-width: 1180px;
	padding: 0px 15px;
	margin: auto;
}

.main-logo {
	height: auto;
	width: 180px;
	margin-top: 6px;
	margin-right: 10px;
}

#nav-mobile a {
	font-family: Gilroy;
	line-height: 79px;
	font-size: 16px;
}

.sidenav {
	width: 250px;
}

.sidenav-trigger i {
	cursor: pointer;
}

@media only screen and (max-width: 1200px) {
	.nav-wrapper {
		max-width: 970px;
	}
}

@media only screen and (max-width: 992px) {
	nav {
		height: 56px;
	}
	nav .brand-logo {
		left: 51%;
		webkit-transform: translateX(-51%);
		transform: translateX(-51%);
	}

	nav .brand-logo .main-logo {
		width: 115px;
		margin-top: 8px;
	}
	nav .sidenav-trigger {
		float: right;
		margin-right: 0px;
	}
	nav .sidenav-trigger i.material-icons {
		height: 56px;
		line-height: 56px;
		font-size: 32px;
	}
}
@media only screen and (max-width: 768px) {
	nav .brand-logo {
		left: inherit;
		webkit-transform: none;
		transform: none;
	}
}
