.selectAmount {
	margin: 0px;
	width: 57%;
}

.selectAmount input.select-dropdown {
	border: 1px solid #ccc;
	border-radius: 2px;
	padding-left: 12px;
	font-family: Gilroy;
	color: ;
}

.selectAmount input.select-dropdown:focus {
	border: 1px solid var(--secondary-color);
}

.selectAmount .dropdown-content li > span {
	color: #4d4d4d;
}

.selectAmount [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
	border: 1px solid #ccc !important;
}

.selectAmount [type="checkbox"].filled-in:checked + span:not(.lever):after {
	border: 1px solid var(--secondary-color);
	background-color: var(--secondary-color);
	color: var(--secondary-color);
}

