.connectPanel {
	padding: 25px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
}

.connectPanel h1 {
	margin: 0;
	color: var(--secondary-color);
}

.connectPanel .collapsible {
	box-shadow: none;
	-webkit-box-shadow: none;
	font-family: Gilroy;
	color: var(--secondary-color);
}

.connectPanel .providers_container .providers_list {
	display: none;
}
.connectPanel .providers_container.active .providers_list {
	display: block;
}
.connectPanel .providers_container .providers_list h1 {
	font-size: 20px;
	color: #abb7b7;
	margin: 0px;
	margin-bottom: 10px;
}
.connectPanel .providers_container .providers_list ul {
	padding: 7px 0 0 0;
	margin-bottom: 18px;
}
.connectPanel .providers_container .providers_list ul.business_services {
	margin-bottom: 18px;
}
.connectPanel .providers_container .providers_list ul li {
	width: 153px;
	height: 70px;
	cursor: pointer;
	vertical-align: top;
	margin: 7px 14px 7px 0;
	display: inline-block;
	padding: 2px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.connectPanel .providers_container .providers_list .provider_logo img {
	max-width: 70%;
	margin: 0 auto;
	padding: 5px;
}
.connectPanel .providers_container .providers_list .provider_logo div.fix + p {
	margin: 0;
}
.connectPanel .providers_list .provider_logo {
	display: table-cell;
	width: 153px;
	height: 64px;
	max-width: 155px;
	vertical-align: middle;
	padding-top: 7px;
}

@media only screen and (max-width: 768px) {
	.connectPanel {
		padding: 25px 15px 0px 15px;
		border: none;
		margin: 0px;
	}

	.connectPanel .collapsible {
		border: none;
		margin-bottom: 0px;
	}

	.connectPanel .collapsible-header {
		display: flex;
		border-top: 1px solid #ddd;
		font-family: Gilroy;
		color: var(--secondary-color);
		padding-left: 0;
	}

	.connectPanel .collapsible-body {
		padding-left: 15px;
		padding-right: 15px;
		display: none;
	}
}
