.questionsPanel {
	padding: 25px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
}

.questionsPanel h1 {
	margin: 0;
	color: var(--secondary-color);
}

.questionsPanel .collapsible {
	margin: 15px 0px;
}

@media only screen and (max-width: 768px) {
	.questionsPanel {
		border: none;
	}
}
