.summaryPanel {
	padding: 0px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
	margin-bottom: 25px;
}

.summaryPanel .collapsible {
	margin: 0px;
	border: none;
	box-shadow: none;
}

.summaryPanel .collapsible-header {
	display: none;
}

.summaryPanel .collapsible-body {
	display: block;
}

.summaryPanel h1 {
	text-align: center;
	font-size: 16px;
	color: var(--secondary-color);
	margin: 0;
}

.summaryPanel canvas {
	width: 334px !important;
	height: 100% !important;
	margin-left: auto;
	margin-right: auto;
	max-width: 334px;
	position: relative;
	left: -50px;
}

.summaryPanel canvas + h1 {
	position: relative;
	float: left;
	bottom: 85px;
	width: 100%;
}

.summaryPanel .collection {
	border: 1px solid #fff;
}

.summaryPanel .collection.with-header .collection-item {
	padding: 10px 0px;
	padding-left: 0px;
	font-family: Gilroy;
	font-size: 12px;
	color: #9e9e9e;
}

.summaryPanel .collection.with-header .collection-item div {
	font-size: 12px;
}

.summaryPanel .collection.with-header .collection-item span {
	font-size: 12px;
	color: var(--text-color);
}

.summaryPanel .collection.with-header .collection-item:nth-child(1) {
	font-size: 14px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #e0e0e0;
}

.summaryPanel .collection.with-header .collection-item:nth-child(1) span {
	font-size: 14px;
}

.summaryPanel .collection.with-header .collection-item:nth-child(2) {
	border-bottom: none;
	padding: 0;
	padding-top: 10px;
}

.summaryPanel .collection.with-header .collection-item:nth-child(3) {
	border-bottom: none;
	padding: 0;
}

.summaryPanel .collection.with-header .collection-item:nth-child(4) {
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 1px dotted #e0e0e0;
}

.summaryPanel .makePayment a {
	width: 100%;
	margin-left: auto;
	display: block;
	margin-top: 10px;
	font-size: 14px;
}

.summaryPanel a {
	color: var(--secondary-color);
}

@media only screen and (max-width: 992px) {
	.summaryPanel canvas {
		width: 100% !important;
		left: 0px;
	}
}

@media only screen and (max-width: 768px) {
	.summaryPanel {
		border: none;
		padding-top: 25px;
		margin-bottom: 0px;
	}

	.summaryPanel .collapsible-header {
		display: flex;
		border-top: 1px solid #ddd;
		margin-right: 15px;
		margin-left: 15px;
		font-family: Gilroy;
		color: var(--secondary-color);
		padding-left: 0;
	}

	.summaryPanel .collapsible-body {
		padding-left: 15px;
		padding-right: 15px;
		display: none;
	}
}

@media only screen and (max-width: 420px) {
	.summaryPanel canvas {
		width: 268px !important;
		height: 134px !important;
		left: 0px;
	}

	.summaryPanel canvas + h1 {
		bottom: 70px;
	}
}
