.welcomePanel {
	padding: 25px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
}

@media only screen and (max-width: 768px) {
	.welcomePanel {
		padding: 20px 15px 0px 15px;
		border: none;
		margin: 0px;
	}
}
