.listActions a.action:not(:first-child):before,
.listActions span.action:not(:first-child):before {
	content: "|";
	padding-left: 5px;
	padding-right: 5px;
	color: var(--grey-text-color);
}

td > div > span {
	cursor: pointer;
}
td > div > span:hover {
	color: #11bfe3;
}

.listActions {
	text-align: right;
}
