.simulation .card-wizard .content {
	padding-bottom: 25px;
}

.simulation h5 {
	margin-bottom: 30px;
}

.simulation .Select-control {
	border: 1px solid #e6e6e6;
	height: 40px;
	cursor: pointer;
}

.simulation .Select-control .Select-placeholder {
	height: 40px;
	color: #ccc;
}
.simulation .Select-control .Select-placeholder,
.simulation .Select-control .Select-value {
	line-height: 40px;
}

.simulation .Select.error .Select-control {
	border-color: #fb404b;
}

.simulation .interestWrapper,
.simulation .durationWrapper {
	display: flex;
}

.simulation .interestWrapper p,
.simulation .durationWrapper p {
	line-height: 2.5;
}

.simulation .fa.fa-edit {
	line-height: 2.5;
	font-size: 16px;
	padding-left: 10px;
	width: 40px;
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
	.simulation .form-control,
	.simulation .Select-control {
		font-size: 16px !important;
	}
}
