.applicationList .content {
	margin-top: -20px;
}

.applicationList #pageDropDown {
	display: none;
}

.applicationList .react-bootstrap-table-pagination-list {
	text-align: right;
}

.applicationList .pagination > li.active > a,
.applicationList .pagination > li.active > span,
.applicationList .pagination > li.active > a:hover,
.applicationList .pagination > li.active > span:hover,
.applicationList .pagination > li.active > a:focus,
.applicationList .pagination > li.active > span:focus {
	background-color: var(--secondary-color);
	border: 0;
	color: #ffffff;
	padding: 7px 13px;
}

.applicationList .pagination > li > a,
.applicationList .pagination > li > span,
.applicationList .pagination > li:first-child > a,
.applicationList .pagination > li:first-child > span,
.applicationList .pagination > li:last-child > a,
.applicationList .pagination > li:last-child > span {
	border-radius: 0;
	margin: 0px 0px 0px -1px;
}

.applicationList .pagination > li:first-child > a,
.applicationList .pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.applicationList .pagination > li:last-child > a,
.applicationList .pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.applicationList .react-bootstrap-table-sort-order,
.applicationList .order {
	font-size: 14px;
	padding-left: 6px;
}

.applicationList td,
.applicationList th {
	width: 27%;
}

.applicationList .table > tbody > tr > td {
	vertical-align: top;
}

.applicationList td:last-child,
.applicationList th:last-child {
	width: 19%;
}

/*.applicationList .table > tbody > tr > td a,
.applicationList .table > tbody > tr > td span {
	visibility: hidden;
}

.applicationList .table > tbody > tr:hover > td a,
.applicationList .table > tbody > tr:hover > td span {
	visibility: visible;
}*/
.applicationList .table > tbody > tr > td span.delete {
	color: var(--error-color);
	cursor: pointer;
	padding: 0;
}

.applicationList .table > tbody > tr > td span.delete:hover {
	color: red;
}

.applicationList .table > tbody > tr > td span {
	color: var(--secondary-color);
}

.applicationList .sortable {
	cursor: pointer;
}

.applicationList .content input {
	width: 200px;
	margin-left: auto;
	float: right;
}

.applicationList .searchIcon {
	float: right;
	font-weight: 800;
	font-size: 24px;
	color: var(--grey-text-color);
	line-height: 40px;
	padding-right: 10px;
}

@media only screen and (max-width: 767px) {
	.applicationList .table {
		overflow: auto;
		display: block;
		table-layout: auto;
	}

	.applicationList td:not(:first-child):not(:last-child),
	.applicationList th:not(:first-child):not(:last-child) {
		display: none;
	}

	.applicationList td:last-child,
	.applicationList th:last-child {
		text-align: right;
	}

	.applicationList .fa-sort-down,
	.applicationList .fa-sort-up {
		font-size: 12px;
		width: auto;
	}

	.applicationList .searchWrapper input {
		width: calc(100% - 35px);
	}

	.applicationList .content {
		margin-top: 0px;
	}

	.applicationList .expanding-row td {
		text-align: left;
	}
	.applicationList .expanding-row td p {
		font-size: 14px;
		width: 100%;
	}
	.applicationList .table > tbody > tr.expanding-row > td div p span.detail {
		width: 60%;
		float: right;
		color: black;
	}

	.applicationList .listActions {
		margin-bottom: 10px;
	}

	.applicationList td,
	.applicationList th {
		width: 100%;
	}
}
