.simulationTable {
	padding: 0 !important;
}

.simulationTable .card {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.simulationTable .card .header {
	padding-left: 0;
	padding-right: 0;
	padding-top: 30px;
	border-top: 1px dashed var(--grey-fade-color);
}
.simulationTable .card .content {
	margin-top: -20px;
	padding-left: 0;
	padding-right: 0;
}

.simulationTable .card .category {
	margin-top: 10px;
	margin-bottom: 10px;
}

.simulationTable h5 {
	margin-bottom: 30px;
}

.simulationTable td,
.simulationTable th {
	width: 25%;
}

.simulationTable td:first-child,
.simulationTable th:first-child {
	width: 12.5%;
}

.simulationTable td:nth-child(3),
.simulationTable th:nth-child(3) {
	/*padding-left: 30px;*/
	width: 12.5%;
}

.simulationTable td:nth-child(4),
.simulationTable th:nth-child(4) {
	text-align: right;
}

.simulationTable td:nth-child(5),
.simulationTable th:nth-child(5) {
	font-weight: 800;
	text-align: right;
}

.simulationTable td:last-child,
.simulationTable th:last-child {
	display: none;
}

.simulationTable .table > tbody > tr > td {
	vertical-align: top;
}

.simulationTable .content input {
	width: 200px;
	margin-left: auto;
	float: right;
}

.simulationTable .totals p {
	display: inline;
}

.simulationTable .totals p:nth-child(even) span {
	padding-left: 15px;
	padding-right: 15px;
}

.simulationTable .totals p:nth-child(5),
.simulationTable .totals p:nth-child(6) {
	font-weight: 800;
}

.simulationTable .totals {
	background-color: #e5f9ff;
	padding: 15px;
	margin-top: 15px;
}

.simulationTable .notes {
	color: var(--grey-text-color);
	padding-top: 20px;
}

.simulationTable .notes p {
	margin: 0;
	font-size: 12px;
}

@media only screen and (max-width: 1200px) {
	.simulationTable .table {
		overflow: auto;
		table-layout: auto;
	}

	.simulationTable td:not(:first-child):not(:last-child):not(:nth-child(5)),
	.simulationTable th:not(:first-child):not(:last-child):not(:nth-child(5)) {
		display: none;
	}

	.simulationTable td:last-child,
	.simulationTable th:last-child,
	.simulationTable td:nth-child(5),
	.simulationTable th:nth-child(5) {
		text-align: right;
	}

	.simulationTable td:last-child,
	.simulationTable th:last-child {
		display: table-cell;
	}

	.simulationTable .fa-sort-down,
	.simulationTable .fa-sort-up {
		font-size: 12px;
		width: auto;
	}

	.simulationTable .content {
		margin-top: 0px;
	}

	.simulationTable .expanding-row td {
		text-align: left;
	}
	.simulationTable .expanding-row td p {
		font-size: 14px;
		width: 100%;
	}
	.simulationTable .table > tbody > tr.expanding-row > td div p span.detail {
		width: 50%;
		float: right;
		color: black;
	}

	.simulationTable .expanding-row td p span {
		text-align: right;
	}

	.simulationTable td,
	.simulationTable th {
		width: 100%;
	}

	.simulationTable .totals p:nth-child(odd) {
		float: left;
		margin-bottom: 0px;
	}

	.simulationTable .totals p:nth-child(even) {
		display: block;
		text-align: right;
		margin-bottom: 0px;
	}

	.simulationTable .totals p span {
		display: none;
	}
}
